<div class="grid-container">
  <div class="component-wrapper">
    <div class="component-title"><i class="fab fa-angular"></i> Component: Playlist</div>
    <app-playlist></app-playlist>
  </div>
  <div>
  <div class="title">Wavesurfer</div>
  <div class="subtitle">Service</div>

<ul class="list-group list-group-flush"><li class="list-group-item">
<h4>WaveSurfer as a service</h4>
Utilizing a service to load WaveSurfer, and rendering the waveform on an element in a dedicated component.
</li>
<li class="list-group-item">
  <h4>Media control injection</h4>
  Any component that injects the service is able to play and control the WaveSurfer player.</li>
<li class="list-group-item">
  <h4>Persistent audio player</h4>
  As long as the player component exists outside of the router outlet, audio will be persistent and will play uninterrupted, even as the visitor navigates to other routes.
  <br><br><pre>
    &lt;router-outlet&gt;&lt;/router-outlet&gt;
    &lt;app-player&gt;&lt;/app-player&gt;
  </pre>
  
   </li>
<li class="list-group-item">


Each item in the playlist handles clicks with the Wavesurfer Service's playTrack method:

</li>
</ul>
<pre>(click)="ws.playTrack(playitem.url, playitem.trackid, playitem.title)"</pre>




</div></div>
<app-player></app-player>